%h1 Joe Roberts

.intro
  %p
    A passionate Internet technologist with an expert eye for emerging technologies and their strategic application to the real-world.
  %p
    Highly skilled in software development, infrastructure and robust development process.
  %p
    A dedicated sailing dinghy and yacht racer, mountain biker and adventure-sports enthusiast.
  %p
    Building image sharing and printing services at
    %a{ href: "http://about.magnoliabox.com/", title: "Magnolia Box" } Magnolia Box

%ul.links
  %li
    %a{ href: "http://twitter.com/zefer", title: "Twitter" } Twitter
  %li
    %a{ href: "https://github.com/zefer", title: "Github" } Github
  %li
    %a{ href: "http://www.last.fm/user/zeefm", title: "Last.fm" } Last.fm
  %li
    %a{ href: "http://uk.linkedin.com/in/zefer", title: "Linkedin" } Linkedin
